html
  head
    title Amit Dance Academy 
    block scripts
    block style 
      include ../static/style.css

  body
    block content
    footer#footer
        | copyright © 2022 AmitDanceacademy.com  ||ALL rights reserved