doctype html
html
  head
    title Amit Dance Academy
    style
        include ../static/style.css

  body
    nav#navbar
        ul
            div#logo
                img(src="/static/image/logo1.jpg")
                |ADA 
                
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]
        section#introsection 
                div Welcome to Amit's Dance Academy 
                div.small Eat Sleep Dance Repeat

        section#missionsection  
                h2 Our mission
      
                div.card
                    p Dance perfection 
                    div.card-box
                    div.card-img
                    img(src="/static/image/2.png")

                    div.card-content
                        p This is world's best dance academy.

                div.card
                    p As you like it
                    div.card-box
                    div.card-img
                    img(src="/static/image/3.jpg")

                    div.card-content
                        p Couple Dance.
                div.card
                    p share your video and get exclusive prizes.
                    div.card-box
                    div.card-img
                    img(src="/static/image/6.jpeg")

                    div.card-content
                        p Bollywood Dance .
        section#sponsorssection 
                h2 Our Sponsor

        footer#footer
        |our footer here 
    script 
      include ../static/index.js