*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 ;
    padding: 0;
}
nav{
    background-color: pink;
    padding: 12px 12px;
}
ul{
    display: flex;
    flex-direction: row;
}
li{
    list-style: none;
    padding: 5px 17px;
}
a{
    text-decoration: none;
    color: rgb(0, 7, 7);
    font-weight: bold;
}
h1{
    text-align: center;
}
.container{
    margin: 12px;
    background-color: yellow;
}