doctype html
html
  head
    title Amit Dance Academy
    style
        include ../static/style.css

  body
    nav#navbar
        ul
            div#logo
                
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]
        section#introsection 
        |section for picture 

        section#sponsorssection 
        |section for sponsors 

        footer#footer
        |our footer here 
    script 
      include ../static/index.js