extends base.pug

block scripts
  script(src='/static/index.js')

block style 
   style
        include ../static/style.css

block content 

body
    nav#navbar
        ul
            div#logo
                img(src="/static/image/logo1.jpg")
                |ADA 
                
            li #[a(href="/") Home]
            li #[a(href="/") About]
            li #[a(href="/") Services]
            li #[a(href="/") Class Info]
            li #[a(href="/") Contact Us]
        section#introsection 
                div Welcome to Amit's Dance Academy 
                div.small Eat Sleep Dance Repeat

        section#missionsection  
                h2 Our mission
      
      
                div.card
                    p Dance perfection 
                    div.card-box
                    div.card-img
                    img(src="/static/image/2.png")

                    div.card-content
                        p This is world's best dance academy.

                div.card
                    p As you like it
                    div.card-box
                    div.card-img
                    img(src="/static/image/3.jpg")

                    div.card-content
                        p Couple Dance.
                div.card
                    p share your video and get exclusive prizes.
                    div.card-box
                    div.card-img
                    img(src="/static/image/6.jpeg")

                    div.card-content
                        p Bollywood Dance .
        section#sponsorssection 
                h2 Our Sponsor  :
                
                    img(src="/static/image/logo4.jpg", alt="Sponsor Image",Class="SpImage")
                    img(src="/static/image/download.jpg", alt="Sponsor Image",Class="SpImage")
                    img(src="/static/image/logo4.jpeg", alt="Sponsor Image",Class="SpImage")
    
    script 
      include ../static/index.js
  