doctype html
html
  head
    title Amit Dance Academy
    style
        include ../static/style.css

  body 
    nav#navbar
        ul 
        li home 
        li About 
        li services 
        li contact us 
        li class info  
    script 
      include ../static/index.js