@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&family=Palette+Mosaic&display=swap');
*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}
#logo{
    display: flex;
    align-items: center;
    margin: 0px 12px;
    font-size: 20px;
    margin-right: 50px;
}
#logo img{
    height: 40px;
    color: white;
    
}

#navbar{
    background-color: #d43b3b;
    font-family: 'Outfit', sans-serif;
    padding: 13px, 14px;
}
#navbar ul{
    display: flex;
    flex-direction: row;
     /* justify-content: center; */
    align-items: center;
}
#navbar li{
    list-style: none;
}
#navbar li a{ 
    color: bisque;
   text-decoration: none;
    padding: 13px 20px;
    font-size: 30px;
}
#navbar li a:hover{
    color: black;  
}
#introsection{
    color:white;
    display: flex;
    background: center/cover no-repeat url("/static/bg.jpg");
height: 425px;
background-color: red;
font-family: 'Outfit', sans-serif;
justify-content: center;
align-items: center;
}
#missionSection{
    height: 326px;; 
    width: 67%;
    margin: auto;
}
#sponsorssection{
    height: 300px;
    background-color:antiquewhite;
}
#sponsorssection h2{
    
    font-size: 40px;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    padding-top: 12px;
    margin-top: 30px;
}
#sponsors{
    height: 120px;
    max-width: 100px;
    margin: auto;
    
}
.SpImage{
    height: 130px;
    margin: 20px;
}
   
#missionSection h2{
    font-size: 42px;
    font-family: 'Yeon Sung' ;
    text-align: center;
    padding-top: 12px;
}
.card{
   display: flex;
        border: 2px solid black;
        border-radius: 10px;
        width: 30%;
        margin: 23px 20px;
        height: inherit;
        display: inline-block;
        text-align: center;
    }
.card h3{
       
        margin: 10px 12px;
        margin-top: 24px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 5px;
    }
    .card-box{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .card-img{
        height: 100%;
        padding: 0 14px;
        margin: 12px 12px;
        width: 100%;
    }
    .card-content{
        padding: 0 24px;
    }
    .card-content p{
        font-size: 20px;
    }
    .card-img img{
        height: inherit; 
    }
#footer{
    background-color: black;
    height: 100px;
}