*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 ;
    padding: 0;
}
nav{
    background-color: pink;
    padding: 12px 12px;
}
ul{
    display: flex;
    flex-direction: row;
}
li{
    list-style: none;
    padding: 5px 17px;
}
a{
    text-decoration: none;
    color: rgb(0, 7, 7);
    font-weight: bold;
}
h2{
    text-align: center;
}
.container{
    background: '   ';
    margin: 12px;
    background-color: yellow;
}
input , textarea{
    display: block;
    padding: 2px;
    margin: 14px auto;
    width: 60%;
    outline: none;
    border: 2px solid black ;
    border-radius: 8px;
}